{% extends 'base.html' %} {% load static %}
<!-- This line loads the static tag -->
{% block content %}
<!--=============== MAIN ===============-->
<main class="main" id="main">

  <!-- زر Skip للتخطي إلى الصفحة الرئيسية -->
  <div class="skip-container">
    <a href="{% url 'home' %}" class="button2 button--flex">Skip <i class="ri-arrow-right-double-line"></i></a>
  </div>

  <div class="info-container">
    <!-- قسم Billing Information -->
    <div class="info-section">
      <h2 class="info-title">Billing Information</h2>
      <form method="POST" action="{% url 'update_info' %}">
        {% csrf_token %}
        <div class="info-fields">
          <!-- عرض حقول form -->
          {% for field in form %}
            <div class="info-field">
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}
        </div>
    </div>

    <!-- قسم Shipping Information -->
    <div class="info-section">
      <h2 class="info-title">Shipping Information</h2>
      <div class="info-fields">
        <!-- عرض حقول shipping_form -->
        {% for field in shipping_form %}
          <div class="info-field">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="info-section">
      <!-- زر التحديث -->
      <button type="submit" class="info-btn btn btn-secondary">Update Profile</button>
    </div>
      </form>
  </div>

</main>
{% endblock %}
